page-login {

  .login-content {
    @include linear-gradient(#39c6f3, #83d1db);

    .logo-row {
      text-align: center;

      .logo-image {
        width: 115px;
        height: 115px;

        @include box-shadow(1px, 1px, 1px, grey) 
      }

    }

    .login-box {

      ion-item {
        background: transparent !important;
        margin-bottom: 10px;
        color: white;
        border-bottom: 1px solid white !important;
      }

      .login-btn {
        background-color: #226167 !important;
        color: #ffffff !important;
      }

      .register-btn {
        color: #ffffff !important;
      }

    }
  }

}
